.food-home * {
  margin: 0;
  padding: 0;
 
}
.food-home a:hover{
  text-decoration: none;
}
.home-search-container {
  margin-top: 6rem;
  padding: 3rem 7rem 0 7rem;
  color: var(--NavbarColor);
  text-align: center;
}
.home-search-title{
  font-size: 3rem;
  text-transform: capitalize;
  padding-bottom: 0.5rem;
}
.search-bar{
  margin-top: 2rem;
}
.search-input {
  width: 40%;
  padding: .5rem 1.5rem;
  font-size: var(--font);
  color: var(--NavbarColor);
  border-radius: 30px ;
  border: 4px solid var(--carol);
  height: 3rem;
  text-transform: capitalize;
}
.search-input:focus{
  outline:none;
}
.search-button{
  background-color: transparent;
  border:none;


}
.search-button:hover{
  transform: scale(1.2);

}

.search-button-icon{
  font-size: 2rem  !important;
  margin: 0 1rem;
  color: var(--dark-yellow);
}
.search-button-icon:hover{
  color: var(--yellowish);

}




.food-new {
  background-color: var(--beige);
  padding: 5rem 0;
}

.food-title-new {
  font-family: var(--font);
  font-size: 3rem;
  padding: 0 7rem;
  color: white;
  font-weight: bold;
}
.breakline {
  border-bottom: 3px solid white;
  margin: 0 7rem;
  padding-bottom: 0.5rem;
}
.random-container {
  padding: 3rem 0;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 18rem);
  grid-gap: 2rem;
  justify-content: center;
}

.product-image {
  height: 18rem;
  width: 18rem;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  color: rgba(255, 255, 255, 0.7);
}
.food-info {
  background-color: white;
  width: 18rem;
  border-radius: 0 0 10px 10px;
  padding: 1rem;
  color: rgb(80, 80, 80);
  
}


.dish-name {
  font-weight: bolder;
  text-transform: capitalize;
}
.star {
  color: var(--yellowish) !important;
}
.more-button {
  background-color: transparent;
  border: none;
}
.more-icon {
  color: var(--beige);
  font-size: 2.5rem !important;
}
.more-button-wrapper {
  display: flex;
  justify-content: space-between;
}


.how-it-works-title {
  font-family: var(--font);
  font-size: 3rem;
  color: var(--yellowish);
  font-weight: bold;
  padding: 3rem 7rem;
}
.how-it-works {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: 30% 35%;
  width: 80%;
  height: 600px;
  margin: auto;
  justify-items: center;
}

.step-one,
.step-two,
.step-three {
  border: 8px dotted var(--light-green);
  border-radius: 50%;
  height: 18.5rem;
  width: 18.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  color: rgb(80, 80, 80);
}

.step-img-hat {
  transform: rotate(-15deg);
  /* justify-self: start; */
  padding: 1rem;
}
.step-img-pot {
  transform: rotate(20deg);
  grid-row: 2/3;
  align-self: end;
}
.step-two {
  grid-row: 2/3;
  grid-column: 2/3;
}
.step-three {
  grid-column: 3/4;
  margin-top: 5rem;
  height: 20rem;
  width: 20rem;
}

.step-one h3,
.step-two h3,
.step-three h3 {
  color: var(--yellowish);
  font-size: 4rem;
  font-weight: bold;
}
