.products-wrapper {
  margin-top: 2rem;
  padding: 3rem 7rem;
}

.products-wrapper h3 {
  color: var(--NavbarColor);
}

.add-cart-alert {
  top: 10%;
  right: 1%;
  border: 0.1em solid var(--carol);
  background-color: var(--carol);
  color: white;
}
.add-cart-alert p {
  margin: 0;
}

.products-price {
  color: var(--greenish);
}

.products-container {
  width: 80%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 70% 30%;
}
.products-img-food {
  height: 20rem;
  width: 20rem;
  object-fit: cover;
  border-radius: 20px;
}
.products-ingredients-container {
  padding: 1rem 0;
}
.ingredient-lable {
  margin: 0.3rem;
  border: 1px solid var(--light-yellow);
  padding: 0.1rem 0.5rem;
  border-radius: 4px;
  text-transform: capitalize;
  display: inline-block;
  color: var(--yellowish);
}
.ingredient-vegetarian {
  color: var(--dark-turquiose);
  margin: 0.6rem 0.5rem;
}
.products-dishname {
  text-transform: uppercase;
  background: linear-gradient(to right, #c2cc67 0%, #26fade 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}
.products-description {
  text-transform: capitalize;
  color: var(--NavbarColor);
  font-size: 1.5rem;
}

.products-pickup-details {
  text-transform: capitalize;
  color: var(--NavbarColor);
}

.cooker-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid var(--dark-turquiose);
  justify-content: center;
  margin-bottom: 20%;
}

.cooker-info p {
  text-transform: capitalize;
  color: var(--NavbarColor);
  margin-left: 6rem;
}
.products-img-cook {
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  padding: 1rem;
  margin-left: 4rem;
}
.products-cooker-score {
  display: flex;
  flex-direction: row;
  margin-left: 6rem;
}

.products-add-button {
  width: 30%;
  grid-column: 1/3;
  justify-self: center;
  border: 0.1em solid var(--greenish);
  background-color: var(--greenish);
  margin: 1rem 4rem;
}
.products-add-button:hover {
  border: 0.1em solid var(--light-green);
  background-color: var(--light-green);
}
.product-empty-container {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-empty-alert {
  text-align: center;
  color: var(--dark-yellow) !important;
}

@media only screen and (max-width: 1000px) {
  .products-container {
    width: 90%;
  }
}
@media only screen and (max-width: 700px) {
  .products-container {
    display: block;
  }
  .products-img-cook,
  .products-cooker-score,
  .cooker-info p {
    margin-left: 0;
  }
  .cooker-info {
    margin: 2rem 0;
    padding-left: 0;
  }
  .products-add-button {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 426px) {
  .products-wrapper {
    padding: 3rem 2rem;
  }
  .products-img-food {
    height: 17rem;
    width: 17rem;
  }
}
