.search-wrapper a{
    text-decoration: none;
}
.search-button-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
.search-filter-button {
  background-color: transparent;
  color:var(--turquiose);
  border: none;
  font-family: var(--font);
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--beige);
  font-weight: bold;
  font-size: 1rem;
}
.search-filter-button:hover {
  color: var(--light-yellow);
  border-bottom: 1px solid var(--dark-turquiose);
  transition: all 0.8s ease-in-out;
}

.list-container {
  transition: all 1s ease-in-out;
  animation: appear 1.5s 1;
}



@media only screen and (max-width: 768px) {
  .search-button-container {
    grid-template-columns: 50% 50%;
    grid-gap: 1rem;
    margin-bottom: 1rem;
  }
  .search-filter-button {
    padding: 0;
    margin: 0;
  }
  .all-button {
    grid-column: 1/3;
  }
}
