


.container-homepage{
    display: grid;
    grid-template-columns: auto auto;
    background-color:#bfede4;

}

.image-logo{
  display: block;
  max-width: 80%;
  height: auto;
  margin-right:40px;

}


.text-ourservise{
  text-align: center;
  font-size: 2rem;
  justify-content: center;
}


.container-ourservice{
  background-color: #ffcbdb;
  height: 170vh;
  margin: 80px;
  padding: 2px;


}


.container-aboutus{
  background-image: url('../image/bg5.png');
}


.wrapper-cooking{
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 100px;
  margin-left: 150px;

}

.wrapper-dance{
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 100px;
  margin-left: 150px;

}


.wrapper-art{
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 100px;
  margin-left: 150px;

}

footer {
  background: #16222A;
  background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
  background: linear-gradient(59deg, #3A6073, #16222A);
  color: white;
  margin-top:100px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}




