.container-homepage {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  height: 100%;
  height: 100vh;
  background-image: linear-gradient(
      rgba(98, 219, 209, 0.74),
      rgba(0, 255, 234, 0.555)
    ),
    url("../image/indo.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0 75%, 0 0);
}

.header-extra-div {
  height: auto;
  width: 100%;
  text-align: center;
  margin: 2rem auto;
}

.extra-div {
  border: none;
  padding: 50px;
  border-radius: 50px;
  transition: 0.3s;
}

.extra-div h2 {
  font-size: 1.3rem;
}



.extra-div:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  transform: translateY(-20px);
  background-color: white;
}

.extra-div:hover h2 {
  color: var(--dark-turquiose);
}

.extra-div:hover p {
  color: var(--yellowish);
}

.alice-carousel ul li img {
  margin: 0 80px;
  height: 550px;
  width: 95%;
  object-fit: cover;
}

.dummy-text {
  text-align: center;
  align-items: center;
  margin-top: 200px;
}

/* h1 animation */

.h1-animation {
  margin: 40px;
  font-size: 6.5rem;
  padding: 0;
  color: rgb(181, 214, 192);
  text-shadow: 0 0.1em 20px rgb(98, 170, 142),
    -0.03em -0.03em 0 rgb(76, 122, 108), -0.03em 0.08em 0 rgb(49, 160, 132);
    font-family: 'Londrina Solid', cursive;
    animation: rightToLeft 1.5s 1;
}
    


.span-animation {
  transform: scale(0.9);
  display: inline-block;
}
.span-animation:first-child {
  animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
    alternate;
}
.span-animation:last-child {
  animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
    infinite alternate;
}
@keyframes bop {
  0% {
    transform: scale(0.9);
  }
  50%,
  100% {
    transform: scale(1);
  }
}

@keyframes bopB {
  0% {
    transform: scale(0.9);
  }
  80%,
  100% {
    transform: scale(1) rotateZ(-3deg);
  }
}
/* end h1 animation */

.wrapper-service__home {
  border-top: 2px solid #f59d87;
  border-bottom: 2px solid #f59d87;
  justify-content: space-around;
  background-image: linear-gradient(
      rgba(60, 173, 164, 0.87),
      rgba(121, 224, 216, 0.836)
    ),
    url("../image/a.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  height: auto;
}

.h4-icon {
  font-size: 1rem;
  margin: 5px auto;
  line-height: 20px;
 
}

.h1-icon {
  margin: 80px 0;
  font-size: 5rem;
  text-align: center;
  color: rgb(158, 192, 176);
  text-shadow: 0 0.1em 20px rgb(98, 170, 142),
    -0.03em -0.03em 0 rgb(76, 122, 108), -0.03em 0.08em 0 rgb(49, 160, 132);
    font-family: 'Londrina Solid', cursive;
}

 
.margin {
  margin-top: -30px;
}

.landing_main-button {
  display: inline-block;
  padding: 10px 20px;
  border: 0.1em solid #be7979;
  border-radius: 50px;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  text-align: center;
  transition: all 0.15s;
  background-color: var(--carol);
  font-family: var(--font);
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 0 150px;
  animation: rightToLeft 1.5s 1;
}


.landing_main-button:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #ffffff;
  border-color: #ffffff;
  text-decoration: none;
  background-color: var(--dark-turquiose);
}

.h4-homeW {
  font-size: 2.5rem;
  color:white;
  text-shadow: 0 0.1em 20px rgb(159, 212, 135),
    -0.03em -0.03em 0 rgb(76, 122, 108), -0.03em 0.08em 0 rgb(49, 160, 132);
    font-family: 'Londrina Solid', cursive;
    animation: rightToLeft 1.5s 1;

}

.container-service {
  display: flex;
  margin: auto;
  justify-content: space-around;
  width: 60%;
}
.box-service {
  background-color: transparent;
  border: none;
  margin-bottom: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-rows: auto auto;
  
}
.box-service:hover {
  box-shadow: rgba(255, 255, 255, 0.8) 0px 16px 48px;
  border-radius: 8px;
  transform: scale(1.2);
}
.service-logo {
  max-width: 60%;
  margin: 1rem auto;
}
.box-service h4 {
  justify-self: center;
  margin: 0;
  color: rgb(15, 14, 14);
}
.button-about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.button-about {
  display: inline-block;
  border: 0.1em solid #be7979;
  padding: 10px 20px;
  box-sizing: border-box;
  text-decoration: none;
  color:white;
  text-align: center;
  transition: all 0.15s;
  background-color: var(--carol);
  font-family: var(--font);
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 30px;

  margin: auto;
}

.button-about:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #ffffff;
  border-color: #ffffff;
  text-decoration: none;
  background-color: var(--dark-turquiose);
}

.text-service{
color:rgb(221, 153, 114) !important;

}


.title-home {
  position: relative;
  font-family: "Train One", cursive;
  text-transform: uppercase;
  background: linear-gradient(to right, #19d1d1 0%, #fa9726 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 38px;
  font-weight: 700;
  padding-right: 80px;
  margin-bottom: 15px;
  display: inline-block;
  text-transform: capitalize;
  margin-left: 150px;
  margin-top: 100px;
}

.title-home:before {
  position: absolute;
  content: "";
  right: 32px;
  bottom: 5px;
  width: 50px;
  height: 3px;
  background-color:rgb(202, 166, 68);
}

.container-work {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  width: 80%;
  
}

.box-work {
  border: none;
  background-color: transparent;
  margin: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-gap: 2rem;
  border-radius: 10px;
 
}
.box-work:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
}
.box-work i {
  color:rgb(235, 156, 128);
}

.box-work p {
  color:var(--dark-green);
  font-weight: 600;
}

/*contact us */

.contact-workshop-submit{
  position:fixed;
  background-color: #f6f1eb;
  width: 70%;
  height: 80%;
  z-index: 1;
}
.container-contactus-work {
  width: 60%;
  height: 480px;
  margin: 50px auto;
  margin-bottom: 150px;
  padding: 30px 60px;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #888888;
  background-color: rgba(245, 198, 179, 0.904);
  animation: rightToLeft 1.5s 1;
}
.form-control.text-primary {
  width: 80%;
  height: 160px;
}

input[type="email" i] {
  width: 100%;
  height: 50px;
}

input[type="text" i] {
  width: 100%;
  height: 50px;
}

.text-primary {
  width: 80%;
  height: 150px;
}

/*popup style*/

.h5-popupW{
  font-family: "Train One", cursive;
  text-transform: uppercase;
  background: linear-gradient(to right, #19d1d1 0%, #fa9726 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 2rem;
  margin-top: -80px;
  margin-left: 170px;

}

.pop-up-notice.contact-workshop-submit{
  width: 60%;
  height: 400px;
  border: 2px solid #f5e3b1;
  border-top: 2px solid #bfede4;
  border-bottom: 2px solid #f59d87;

}



/*responsive*/
@media screen and (max-width: 830px) {
  .container-contactus-work {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .container-homepage {
    height: 80vh;
    justify-content: center;
    align-items: center;
  }
  .dummy-text {
    margin-top: 0;
  }
  .h1-animation {
    font-size: 2.5rem;
    margin: 1rem 0;
  }
  .container-work {
    flex-direction: column;
    width: 80%;
  }
  .header-extra-div {
    margin-top: 0;
  }
  .title-home {
    margin-left: 10%;
  }
  .h4-homeW {
    font-size: 1.5rem;
  }
  .h1-icon {
    font-size: 2rem;
    margin: 20px 0;
  }
  .container-service {
    flex-direction: column;
    align-items: center;
  }
  .service-logo {
    width: 80%;
  }
  .box-service {
    margin: 1rem;
  }

  .h5-popup{
    font-size:1rem;
    margin:20px;
   }

   .pop-up-notice.contact-workshop-submit{
     width: 90%;
   }
  
}

@media screen and (max-width: 426px) {
  .h1-animation {
    font-size: 1.5rem;
  }
  .h4-homeW {
    font-size: 1rem;
  }
  .landing_main-button {
    margin: 0;
  }

}

