.info-section {
  border: solid var(--light-turquiose);
  border-radius: 8px;
  margin-top: 1.563rem;
  width: 100%;
}

.section-wrap {
  padding: 0.938rem;
  padding-bottom: 0.5rem;
  background: var(--light-turquiose);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.section-wrap > * {
  font-weight: bold;
}

.section-wrap > span {
  color: var(--carol);
}

.dropDown {
  padding: 0.625rem 0.938rem 1.25rem 0.938rem;
}

.lastline {
  margin-bottom: 0rem;
}

.impDetails > h5 {
  font-weight: bold;
}

.multiline {
  white-space: pre-line;
}

.cross-icon-wrapper {
  margin-left: 0.625rem;
}

.cross-icon {
  color: red;
}

.cross-icon-wrapper > p {
  margin: 0rem;
}

@media only screen and (max-width: 500px) {
  .info-section {
    width: 100%;
  }
}
