

.header-HomeMain{
   align-items: flex-start;
   background-color:#ffeedc;

}

.image-homeMain{
    max-width: 65%;
    margin-left: 200px;
    
}

.text-homeMain{
    max-width: 50rem;
    text-align: center;
    margin-top: -200px;
    margin-left: 300px;

}




/* sections part css start here */
.home-section-wrapper p,.home-section-wrapper h5{
    color: var(--NavbarColor);
}
.home-section-wrapper h2{
    color: var(--dark-carol);
    text-transform: uppercase;
}
.home-section img{
    width:20rem;
    height:20rem;
    object-fit: cover;
    border-radius: 8px;
}
.home-section-wrapper{
    background-color:white;
    padding: 3rem; 
    min-height: 60vh;
    padding-bottom: 6rem;
}
.home-section-container{
    width: 80%;
    margin: auto;
    display: grid;
    grid-gap: 2.5rem 5rem;
    justify-content: space-between;
}
.home-section-title{
    grid-column: 1/3;
    justify-self: center;
}
.home-breakline {
    border-bottom: 3px solid var(--carol);
    margin: 0 3rem;
    padding-bottom: .5rem;
}
.home-section *{
    margin: 1rem;
}
.home-section{
    min-height: 50vh;
    background-color: white;
    padding: 1.5rem;
    display: grid;
    grid-template-rows: 70% 15% 15%;
    border-radius: 8px;
}
.home-section-button{
    text-decoration: none;
    color:var(--NavbarColor);
    background-color: var(--carol);
    width: 40%;
    padding: .9rem 1rem 0 1rem;
    border-radius: 30px;
    text-align: center;
    font-family: var(--font);
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}
.home-section-button:hover{
    text-decoration: none;
    color: var(--carol);
    background-color: white;

}
