
.home-wrapper{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0 2rem;
    grid-template-rows: 80% 20%;
}
.home-wrapper h3,.home-wrapper h5{
    color: var(--NavbarColor);
    margin: 0;
    text-transform: uppercase;
    text-align:center;
}
.home-wrapper a{
    text-decoration: none;
    color: var(--NavbarColor);
}

.home-workshop-section{
    background-color: var(--light-turquiose);
    display: grid;
}
.home-food-section{
    background-color: var(--light-yellow);
    display: grid;
}

.home-workshop-text, .home-food-text{
    width: 70%;
    justify-self: center;  
    align-self: center;
}

.home-food-button, .home-workshop-button{
    background-color: var(--carol);
    align-self: flex-end;
    padding: 1rem 0;
    display: none;
}
.home-food-section:hover .home-food-button{
    display: inline;
}
.home-workshop-section:hover .home-workshop-button{
    display: inline;
}

.img-culturd{
  max-width: 220%;
}