@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');


  .logo-icon{
    width: 13%;
    cursor: pointer;
    
    }

    .navbar-style{
    box-shadow: 2px 2px hsla(0, 66%, 80%, 0.801);

    }


    .navbar {
      height: 60px;
    }
    
    .nav-color{
      color:var( --FontColor)!important;
      font-family: 'Montserrat', sans-serif;
      margin: 0 1rem;
      font-size: 1.1rem;
      /* font-size: 1.2rem; */
      font-family: 'Train One', cursive;
      text-transform: capitalize;
      background: linear-gradient(to right, #19d1d1 0%, #fa9726 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
      
    

    .nav-color:hover{
      background-color:#fffffa;
      border: 2px solid #f5e3b1;
      border-top: 2px solid #bfede4;
      border-bottom: 2px solid #f59d87;
      background-size: 50% 50%;
      border-radius: 5%;
      animation: spring 300ms ease-out;
      font-weight: bold;
      color: turquoise;
      
    }
    .nav-color:active{
      transform: translateY(4px);
      
    }
    
    
    @keyframes spring {
      15% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1.2, 1.1);
      }
      40% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(0.95, 0.95);
      }
      75% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1.05, 1);
      }
      100% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1, 1);
      }
    }
    
    
    
    .container-homepage{
      display: grid;
      grid-template-columns: auto auto;
    }
    
    /*responsive*/
@media screen and (max-width: 768px) {
.logo-icon{
  width: 30%;
     
   }
}