.aboutus_main{
    margin: 200px 100px;
    height: 100%;
	height: 100vh;
    background-image: linear-gradient(rgba(98, 219, 209, 0.74), rgba(238, 255, 0, 0.336)), url('../image/group.jpg');
	background-repeat: no-repeat;
	background-size: 50% 50%;
	position: relative;
   
	
  }
  
 
