.Booking-container{
    width: 50%;
    padding: 10px 50px;
    border:4px solid #f5e3b1;
    border-top:4px solid #f59d87;
    border-bottom: 4px solid #f59d87;
    background-color:var(--light-turquiose);
    margin: auto;
    margin-bottom: 50px;
    color:var(--NavbarColor);
    animation: rightToLeft 1.5s 1;
    


}

.h1-book{
    text-align: center;
    font-size: 28px;
    font-family: 'Train One', cursive;
    text-transform: uppercase;
    background: linear-gradient(to right, #19d1d1 0%, #fa9726 100%);
    background-clip: text;
     -webkit-text-fill-color: transparent;
     margin:100px auto;
     margin-bottom: 80px;

}

/* styling id from depencies*/
.rfe-form__row input {
  margin: 5px;
  padding: 10px 5px;
  width: 100%;
  display: block;
  border: none;
}

.rfe-form__row select {
  margin: 5px;
  padding: 15px 10px;
  width: 100%;
  display: block;
  border: none;
}

/* pop up confirmation box css */
.book-from-confirmation {
  margin: 0 auto;
  background:hsl(168, 53%, 86%);
  width: 70%;
  height: 75%;
  text-align: left;
  padding: 40px auto;
  color: var(--NavbarColor);
  border: 2px solid #f5bbb1;
}

.h3-popup {
  font-family: "Train One", cursive;
  text-transform: uppercase;
  background: linear-gradient(to right, #19d1d1 0%, #fa9726 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: 20px;
}

.pop-op_content {
  margin: 40px 80px;
  line-height: 1.4;
  
  
}

.btn-popup {
  display: inline-block;
  padding: 10px 20px;
  border: 0.1em solid #be7979;
  border-radius: 50px;
  box-sizing: border-box;
  text-decoration: none;
  color: #e9f8f3;
  text-align: center;
  transition: all 0.15s;
  background-color: var(--carol);
  font-family: var(--font);
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  font-size: 1rem;
  text-transform: uppercase;
  margin: 10px;
}

.btn-popup:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #ffffff;
  border-color: #ffffff;
  text-decoration: none;
}




/*responsive*/
@media screen and (max-width: 320px) {
  .Booking-container {
    width: 80%;
  }
  
    
  }


@media screen and (max-width: 768px) {
  .Booking-container {
    width: 90%;
  }

  .book-from-confirmation{
    margin: 0 auto;
    font-size: 1rem;
    width: 90%;
  }

  }

  


