.Booking-container {
  width: 50%;
  padding: 10px 50px;
  border: 4px solid #f5e3b1;
  border-top: 4px solid #f59d87;
  border-bottom: 4px solid #f59d87;
  background-color: var(--light-turquiose);
  margin: auto;
  margin-bottom: 50px;
}

.h1-book {
  text-align: center;
  font-size: 28px;
  font-family: "Train One", cursive;
  text-transform: uppercase;
  background: linear-gradient(to right, #19d1d1 0%, #fa9726 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 100px auto;
  margin-bottom: 50px;
}

/* styling id from depencies*/

.rfe-form__row input {
  margin: 5px;
  padding: 10px 5px;
  width: 100%;
  display: block;
  border: none;
}

.rfe-form__row select {
  margin: 5px;
  padding: 15px 10px;
  width: 100%;
  display: block;
  border: none;
}

/* pop up confirmation box css */
.book-from-confirmation {
  background-color: #f6f1eb;
  width: 70%;
  height: 80%;
}

/*responsive*/
@media screen and (max-width: 320px) {
  .Booking-container {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .Booking-container {
    width: 90%;
  }
}
