.Booking-container{
    margin:150px 200px;
    max-width: 800%;
    padding: 20px 60px;
    border:4px solid #f5e3b1;
    border-top:4px solid #f59d87;
    border-bottom: 4px solid #f59d87;
    background-color:var(--light-turquiose);

}


/* styling id from depencies*/

.rfe-form__row input{
    padding: 10px 10px;
    width: 100%;
    display: block;
    border: none;
    border-radius: 10px;
}   


.rfe-form__row select{
    padding: 10px 10px;
    width: 100%;
    display: block;
    border: none;
}   


