.login-container,
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    padding-top: 6.5rem;
    padding-bottom: 7rem;
    background: linear-gradient(90deg, #bfede4 50%, #FFFFFF 50%);
}

.log-form-container {
  display: flex;
  height: auto;
  width: 50rem;
  box-shadow: -2px 2px 11px 1px rgba(0, 0, 0, 0.41);
}

.p-login {
  font-size: 1.125rem;
  color: var(--NavbarColor);
}
.nav-color {
  color: var(--NavbarColor);
}

.form-container-1,
.form-container-3 {
    width: 50%;
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--light-turquiose);
}

.form-container-2,
.form-container-4 {
    width: 50%;
    padding: 6.25rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    
}

.reg-link {
  font-size: 1.75rem;
  font-family: "Train One", cursive;
  text-transform: uppercase;
  color: #f59d87 !important;
}

.reg-link:hover {
  background: #19d1d1;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none !important;
}

#password-link {
  font-size: 0.813rem;
  text-decoration: underline;
  color: var(--NavbarColor);
}

#password-link:hover {
  color: #ff0000;
}

form > h1 {
  text-align: center;
  font-family: "Train One", cursive;
  text-transform: uppercase;
  background: linear-gradient(to right, #19d1d1 0%, #fa9726 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1.875rem;
}

.login-h2 {
  background: linear-gradient(to right, #19d1d1 0%, #fa9726 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.813rem;
}

.form-group > label {
  font-size: 1rem;
  margin-bottom: 0rem;
  color: var(--NavbarColor);
}

.input-fields,
.submit-btn {
  width: 15.625rem !important;
  height: 2.188rem !important;
  border: 1px solid #f59d87;
  border-top: 1px solid #3aab95;
  border-bottom: 1px solid #3aab95;
}

.form-group > input:focus {
  border-color: var(--light-turquiose);
}

.error-msg {
  font-size: 0.875rem;
  color: #ff0000;
}

.submit-btn {
  background-color: var(--carol);
  border: none;
  border-radius: 3px;
  padding-bottom: 0.125rem;
  color: #ffffff;
  font-size: 1.125rem;
}

.submit-btn:hover {
  background-color: var(--turquiose);
  color: #ffffff;
}

.signUp {
  margin-top: 1rem;
}

.sign-form-container {
  margin: 70px;
  margin-top: 0rem;
  display: flex;
  height: auto;
  width: 70rem;
  box-shadow: -2px 2px 11px 1px rgba(0, 0, 0, 0.41);
}

.signUp-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 2rem;
  width: 100%;
}

.name-container,
.email-container,
.password-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#firstName,
#sign-email,
#sign-pass {
  margin-right: 10px;
}

@media only screen and (max-width: 360px) {
  .login-h2,
  .form-header {
    font-size: 2rem;
  }

  .reg-link {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 450px) {
  .log-form {
    padding: 0rem 2rem;
    width: 100% !important;
  }

  .input-fields,
  .submit-btn {
    width: 100% !important;
  }
}

@media only screen and (max-width: 960px) {
  .log-form-container {
    width: 65% !important;
    flex-direction: column;
  }

  .form-container-1 {
    padding: 2rem 1rem;
    width: 100%;
  }

  .form-container-2 {
    padding: 3.5rem 0rem 5rem 0rem;
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .name-container,
  .email-container,
  .password-container {
    flex-direction: column;
    align-items: center;
  }

  #firstName,
  #sign-email,
  #sign-pass {
    margin-right: 0rem;
  }

  .email-field {
    margin-bottom: 0rem;
  }
}

@media only screen and (max-width: 1200px) {
  .sign-form-container {
    flex-direction: column;
    width: 40rem;
  }

  .form-container-3 {
    padding: 1rem;
    width: 100%;
  }

  .form-container-4 {
    padding: 3.5rem 0rem 5rem 0rem;
    width: 100%;
  }
}
