.sub-nav{
    background-color: rgba(240, 201, 41, 0.3);
    color: grey;
    height: 30px;

    }

ul{
    display: flex;
    justify-content: space-around;

    align-items: center;
    list-style-type: none;

}

.sub-nav-basket{
    display: flex;
}
.basket-icon{
    margin: 0 10px;
}