.booking-container {
  border-radius: 8px;
  width: 25rem;
  margin-top: 2rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 1px 10px -3px rgba(0, 0, 0, 0.76);
}

.icon-container {
  border-radius: 8px 8px 0px 0px;
  width: 25rem;
  height: auto;
  display: grid;
  grid-template-columns: 12.5rem 12.5rem;
  grid-row: auto auto;
  color: var(--NavbarColor);
}

.booking-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.8rem 0.625rem 1rem 0.625rem;
  text-align: center;
  font-size: 0.875rem;
}

.booking-icon {
  font-size: 1.875rem;
  margin-bottom: 0.938rem;
  color: var(--carol);
}

.focus {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 0.75rem;
}

.review-container {
  border-top: solid rgb(202, 202, 202);
  width: 25rem;
  height: 6.25rem;
  display: flex;
  justify-content: space-around;
  color: var(--NavbarColor);
}

.review-icon {
  width: 7.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 4.375rem;
  color: var(--carol);
}

.review-details {
  width: 15.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 0.625rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.review-details > * {
  margin-bottom: 0;
}

.review-link {
  text-decoration: none;
  color: red;
  font-size: 0.875rem;
  font-weight: normal;
  text-transform: none;
}

.review-link:hover {
  text-decoration: none;
  color: black;
  font-weight: normal;
  text-transform: none;
}

.booking-button {
  width: 25rem;
  height: 4.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--carol);
  border-radius: 0px 0px 8px 8px;
}

.booking-button:hover {
  text-decoration: none;
  background: var(--dark-turquiose);
}

.booking-button > * {
  margin-top: 0.625rem;
  font-weight: bold;
  color: #ffffff;
}

@media only screen and (max-width: 500px) {
  .icon-container {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 1200px) {
  .booking-container {
    width: 100%;
    justify-content: flex-end;
  }

  .icon-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .booking-details,
  .review-container,
  .booking-button {
    width: 100%;
  }
}
