.profile-wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
}
.profile-wrapper h3,
.profile-wrapper h5,
.profile-wrapper p {
  color: var(--NavbarColor);
  margin: 0;
}
.profile-menu {
  padding: 0 2rem;
  padding-top: 6rem;
  height: 100vh;
  background-color: var(--beige);
  display: grid;
  grid-template-rows: 40% 10% 10% 10%;
  justify-items: center;
}

.profile-user-pic {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  border-radius: 50%;
  align-self: center;
}
.profile-menu h3{
  color: white;
}
.profile-menu-categories {
  border: none;
  background-color: transparent;
  font-family: var(--font);
  color: white;
  text-transform: uppercase;
  font-size: 1.3rem;
}
.profile-menu-categories:hover {
  color: var(--NavbarColor);
}

.profile-content {
  height: 100vh;
  padding-top: 6rem;
  width: 70%;
  margin: auto;
}
.profile-content-border {
  padding: 8%;
  border: 2px solid #f5e3b1;
  border-top: 2px solid #bfede4;
  border-bottom: 2px solid #f59d87;
  border-radius: 13px;
}
.profile-info-title,
.profile-history-title {
  text-transform: capitalize;
}
.rfe-form.profile-info-form {
  margin-top: 1rem;
  font-family: var(--font);
  color: var(--dark-carol);
}
.rfe-form.profile-info-form label {
  margin: 0.2rem !important;
}
.profile-form input {
  border: none;
  color: var(--dark-beige);
  background-color: var(--carol);
  padding: 0.1rem 1rem !important;
}
.profile-form input:focus {
  outline: none;
}

.profile-order-container {
  padding: 1rem;
  margin: 1rem 0;
  border: 1px dashed var(--beige);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 70% 30%;
}
.profile-order-img {
  grid-column: 2/3;
  justify-self: end;
}
.profile-order-button {
  padding: 10px 50px;
  text-decoration: none;
  color: white;
  font-family: var(--font);
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 30px;
  border: 0.1em solid var(--carol);
  background-color: var(--carol);
  margin: 2rem 0;
}

.profile-history-button {
  padding: 8px 50px;
  color: white;
  text-align: center;
  font-family: var(--font);
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 30px;
  border: 0.1em solid var(--carol);
  background-color: var(--carol);
}
.profile-history-button:hover,.profile-order-button:hover {
  border: 0.1em solid var(--dark-carol);
  background-color: var(--dark-carol);
}

@media only screen and (max-width : 768px){
  .profile-menu h3{
    font-size: 1.5rem;
  }
  .profile-menu-categories{
    font-size: 1rem;;
  }
  .profile-order-container {
    grid-template-columns: 100%;
   grid-template-rows: auto auto auto ;
    grid-gap: 1em;
}
.profile-order-img.cart-img{
  grid-row:1/2;
  grid-column: 1/2;
  justify-self: start;
}
}
@media only screen and (max-width : 680px){
  .profile-wrapper{
   grid-template-columns: 100%;

  }
  .profile-content{ 
    padding: 2rem 0;
    width: 90%;
  }
  .profile-menu{
    grid-template-rows:70% 10% 10% 10%;
    height: auto;
    padding: 6rem 0 3rem 0;
  }
  .profile-menu-categories{
    margin: 1rem 0;
  }
}