* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.country-container {
    margin: 90px 15px 50px 15px;
    /* border: solid red; */
}

.workshop-info {
    margin-bottom: 10px;
}

.workshop-info > * {
    font-weight: bold;
}

.ticket-info {
    display: flex;
    font-weight: bold;
    /* border: solid green; */
}

.ticket-info > * {
    margin-right: 20px;
}

.info-icon {
    color: var(--carol);
    font-size: 18px;
}

.workshop-container {
    display: flex;
    justify-content: space-between;
}

.workshop-container > * {
    /* border: solid salmon; */
    width: 100%;
}

.container-1 {
    display: flex;
    flex-direction: column;
}

.accordeon-container {
    margin-top: 25px;
}

.info-section {
    border: solid var(--light-turquiose);
    border-radius: 8px;
    margin-top: 25px;
}

.section-wrap {
    padding: 15px;
    padding-bottom: 8px;
    background: var(--light-turquiose);
    display: flex;
    justify-content: space-between;
}

.section-wrap > * {
    font-weight: bold;
}

.section-wrap > span {
    color: var(--carol);
}

.dropDown {
    padding: 15px;
}
