* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.country-container {
    margin: 90px 15px 50px 15px;
    /* border: solid red; */
}

.workshop-info {
    margin-bottom: 10px;
}

.workshop-info > * {
    font-weight: bold;
}

.ticket-info {
    display: flex;
    font-weight: bold;
    /* border: solid green; */
}

.ticket-info > * {
    margin-right: 20px;
}

.info-icon {
    color: var(--carol);
    font-size: 18px;
}

.workshop-container {
    display: flex;
    justify-content: space-between;
}

.workshop-container > * {
    /* border: solid salmon; */
    width: 100%;
}

.container-1 {
    display: flex;
    flex-direction: column;
}

