
footer {
    background: #bfc7cf;;
    /* background: -webkit-linear-gradient(59deg, #3A6073, #1e523c);
    background: linear-gradient(59deg, #3f7c77, #1f4d34); */
    color:#0f491c;
    margin-top:100px;
  }
   footer a {
    color: #0f491c;
    font-size: 14px;
    transition-duration: 0.2s;
  }
  
  footer a:hover {
    color: #0f491c;
    text-decoration: none;
  }
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #ffe7d9;;
  }
  
  .footer-middle {
    padding-top: 2em;
    color:#0f491c;
  }
  
  
  