.footer {
  background-color: var(--light-beige);
  padding: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-icon-container {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.footer-copyright {
  background-color: var(--light-beige);
  margin: 0;
  font-family: var(--font);
  font-size: 0.8rem;
  padding-top: 1.5rem;
}
.footer-icon,
.footer-copyright {
  color: var(--dark-beige);
}
.footer-icon:hover {
  color: var(--beige);
}
.footer-line {
  color: var(--dark-turquiose);
  font-size: 5rem;
  line-height: .5;
}

@media only screen and (max-width: 376px) {
    .footer{
        padding:1rem;
    }
    .footer-copyright{
        font-size: .6rem;
    }
}