.footer {
  background-color: #dfd0c1;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-icon-container {
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding-top: 0.3rem;
}
.footer-copyright {
  color: var(--dark-turquiose);
  margin: 0;
  font-family: var(--font);
  font-size: 0.8rem;
  padding-top: 1rem;
}
.footer-icon,
.footer-copyright {
  color: var(--dark-turquiose);
}
.footer-icon:hover {
  color: var(--carol);
}
.footer-icon:focus {
  outline: none;
}
.footer-line {
  color: var(--dark-turquiose);
  font-size: 3rem;
  line-height: 1;
}

@media only screen and (max-width: 376px) {
  .footer {
    padding: 1rem;
  }
  .footer-copyright {
    font-size: 0.6rem;
  }
}
