img.logo-book {
  width: 3%;
  margin: 30px 100px;
}
img.logo-book:hover {
  animation: spring 300ms ease-out;
}
.nav-color {
  color: var(--FontColor) !important;
  font-family: "Montserrat", sans-serif;
  margin: 5px 10px;
  font-size: 1.5rem;
  color: var(--NavbarColor) !important;
}
.bgwhite {
  background-color: white !important;
}
.nav-color:hover {
  background-color: #eef5b1;
  background-size: 50% 50%;
  border-radius: 5%;
  animation: spring 300ms ease-out;
  font-weight: bold;
}
.nav-color:active {
  transform: translateY(4px);
}
.container-homepage {
  display: grid;
  grid-template-columns: auto auto;
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

