/* .addpost-popup{
    background-color: #f6f1eb ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   width: 70%;
    border-radius: 8px;
    padding: 3rem;
} */